/* Variables sass*/
$color:#433;
$bg: #330;

p{
	color: $color;
}

#personas{
	width:80%;
	margin:0 auto;

	&#hijo{
		background-color: $bg;
		color: $color;
	}
}

// Media queries

.menu{
	width:100%;

	@media screen and (min-widht: 680px){
		width: 80%;
		margin: 0 auto;
	}
}

// Operaciones
$mg-bottom: 1rem;
$padding:15px;

.block{
	margin-bottom:$mg-bottom;
	padding:$padding + 2;
}
.block-docente{
	margin-bottom:$mg-bottom * 2;
	padding:$padding * 2;
}

// colores
$micolor:#900;

div{
	width:30%;
	float:left;
	height:40px;
	margin:1%;
	background-color:$micolor;
}
.darken{
	background-color:darken($micolor, 20%);
}
.lighten{
	background-color:lighten($micolor, 30%)
}
.saturate{
	background-color:saturate($micolor, 10%)
}
.desaturate{
	background-color:desaturate($micolor, 10%)
}
.grayscale{
	background-color:grayscale($micolor)
}

.complement{
	background-color:complement($micolor)
}
.invert{
	background-color:invert($micolor)
}
.rgba{
	background-color:rgba($micolor,.5)
}


// mixin

@mixin border{
	border: solid 1px $micolor;
	border-radius: 3px;
}
.darken{
	@include border;
}

// mixin con parametros
@mixin bordes($type, $whidht){
	border: $type $whidht $micolor;
}
.lighten{
	@include bordes(solid, 2px )
}





