/* Variables sass*/
p {
  color: #433;
}

#personas {
  width: 80%;
  margin: 0 auto;
}

#personas#hijo {
  background-color: #330;
  color: #433;
}

.menu {
  width: 100%;
}

@media screen and (min-widht: 680px) {
  .menu {
    width: 80%;
    margin: 0 auto;
  }
}

.block {
  margin-bottom: 1rem;
  padding: 17px;
}

.block-docente {
  margin-bottom: 2rem;
  padding: 30px;
}

div {
  width: 30%;
  float: left;
  height: 40px;
  margin: 1%;
  background-color: #900;
}

.darken {
  background-color: #330000;
}

.lighten {
  background-color: #ff3333;
}

.saturate {
  background-color: #990000;
}

.desaturate {
  background-color: #910808;
}

.grayscale {
  background-color: #4d4d4d;
}

.complement {
  background-color: #009999;
}

.invert {
  background-color: #66ffff;
}

.rgba {
  background-color: rgba(153, 0, 0, 0.5);
}

.darken {
  border: solid 1px #900;
  border-radius: 3px;
}

.lighten {
  border: solid 2px #900;
}
